main{
    font-family: Helvetica;
    text-align: center;
}

#bloco-1{
    color:white;
    background-color: orange;
    border: 10px groove rgba(255,0,0,0.438);
    width: 300px;
    margin:5px;

}

#bloco-2{
    color:whitesmoke;
    background-color: rgb(34,219,34);
    border:10px solid green;
    width: 300px;
}

#bloco-3{
    color: whitesmoke;
    background-color: green;
    border:10px dashed rgb(9, 80, 9);
    width: 300px;
    margin: 5px;
}

#bloco-4{
    color: whitesmoke;
    background-color: red;
    border: 10px dashed rgb(164, 94, 106);
    width:300px;
    margin:5px;
}

